.logoContainer {
    position: absolute;
    border-radius: 4;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    z-index: 100;
}
.logo {
    position: relative;
    left: -25px;
    top: -50px;
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
}
.map {
    width: 200%;
    height: 200%;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url('./The_5_Boroughs_of_New_York_City.svg');
    background-repeat: no-repeat;
    z-index: -100;
    overflow: scroll;
}
.map_start {
}
.first {

}
.second {

}
.fade-in-text {
    display: inline-block;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
